{% load static %}
<html>
  <head>
    <title>Company Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/CompanyHomePage2.css' %}" />

    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <!-- Font-awesome -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section
      class="py-1 fixed-top"
      style="background-image: linear-gradient(125deg, #a72879, #064497)"
    >
      <nav class="navbar navbar-expand-sm navbar-light mx-4">
        <!-- Brand/logo -->
        <a
          class="navbar-brand"
          href="{% url 'home' %}"
          style="
            font-size: 25px;
            font-weight: 600;
            color: #e7e9ee;
            letter-spacing: 2px;
            margin-left: 10px;
            text-transform: uppercase;
          "
          >SimplyIntern</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fa fa-bars" aria-hidden="true" style="color: #fff;"></i>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'new-post' %}">
                <i class="fa fa-info" aria-hidden="true"></i> <span style="margin-left: 3px;">Post New Internship</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'company-profile' %}">
                <i class="fa fa-user" aria-hidden="true"></i> <span style="margin-left: 3px;">Hey, {{user.company.name}}</span></a>
            </li>
            <li class="nav-item">
              <a class="btn" href="/logout" style="padding: 5px; background-color: rgb(212, 51, 51); color: #fff; font-weight: 600; border-radius: 5px; font-size: 13px; margin-top: 5px;">
                Logout
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </section>
{% comment %} 
    {% if messages %} {% for message in messages %}
    <div class="alert info">
      <div class="closebtn">&times;</div>
      {{ message }}
    </div>
    {% endfor %} {% endif %} {% endcomment %}

{% comment %} <!-- --------------- Content section ---------------- -->
    <section style="margin-top: 15px">
      <div class="container-fluid">
      {% for post in posts %}
      <p>{{ post.title }}</p>
      {% endfor %}
      </div>
    </section> {% endcomment %}
    <!-- --------------- Content section ---------------- -->


    <section id="content" style="margin-top: 100px">
      <div class="container">
        <div class="text-center">
          <button
            class="btn mt-3"
            style="
              background-image: linear-gradient(125deg, #59a0f0, #0b66dd);
              box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.1);
            "
          >
            <i class="fa fa-plus" style="color: #fff;"></i>
            <a href="new-post" style="padding-left: 10px; color: #fff; font-weight: bold; text-decoration: none;">Post New internship</a>
          </button>
        </div>

      {% for post in posts %}
        <div>
          <div
            class="p-3 my-5"
            style="
              width: 80%;
              margin: auto;
              box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.1);
              background-color: #fff;
            "
          >
            <div class="row">
              <div class="col-md-8 col-8">
                <h5 class="title">{{post.title}}</h5>
              </div>
              <div class="col-md-4 col-4">
                <img
                  src="/media/{{company.profile.pic}}"
                  alt="Company Name"
                  style="width: 35px; height: 35px; float: right"
                />
              </div>
            </div>

            <div class="text-center my-2">
              <p style="color: #033f8d">
                <i class="fa fa-home" aria-hidden="true"></i> {{post.place}}
              </p>
            </div>
            <div class="row">
              <div class="col-md-3 col-6 text-center">
                <p style="color: #033f8d">
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                  <span style="font-weight: 600"> START DATE </span>
                  <br />
                  Immediately
                </p>
              </div>
              <div class="col-md-3 col-6 text-center">
                <p style="color: #033f8d">
                  <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                  <span style="font-weight: 600"> DURATION </span>
                  <br />
                  {{post.duration}} months
                </p>
              </div>
              <div class="col-md-3 col-6 text-center">
                <p style="color: #033f8d">
                  <i class="fa fa-money" aria-hidden="true"></i>
                  <span style="font-weight: 600"> STIPEND </span>
                  <br />
                  Rs. {{post.stipend}}/month
                </p>
              </div>
              <div class="col-md-3 col-6 text-center">
                <p style="color: #033f8d">
                  <i class="fa fa-hourglass-half" aria-hidden="true"></i>
                  <span style="font-weight: 600"> Apply By </span>
                  <br />
                  {{post.apply_by}}
                </p>
              </div>
            </div>
            <div class="mb-5 mt-3">
              <h6
                style="
                  float: right;
                  margin-right: 20px;
                  color: #a72879;
                  font-weight: bold;
                "
              >
                <a href="{% url 'post-detail' post.id %}" style="text-decoration: none; color: #833f75;">View Details</a>
                <i class="fa fa-chevron-right" aria-hidden="true" style="color: #833f75;"></i>
              </h6>
            </div>
          </div>
        </div>
      {% endfor %}

      </div>
    </section>

    <!-- -------------------- FOOTER SECTION -------------------- -->
    <section id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <!-- <img src="images/logo.png" class="footer-logo"> -->
            <h2>SimpleHired</h2>
            <p style="text-align: justify">
              SimplyHired helps thousands of students find great internships and
              be a ladder in their success.
            </p>
          </div>

          <div class="col-md-3">
            <h1>Features</h1>
            <p>Certification</p>
            <p>Free Apply</p>
            <p>Flexible Time</p>
            <p>Jobs for freshers</p>
          </div>

          <div class="col-md-3">
            <h1>Quick Contact</h1>
            <p>
              <i class="fa fa-phone-square"></i>
              +91 7377515257
            </p>
            <p>
              <i class="fa fa-envelope"></i>
              ankit4b@gmail.com
            </p>
            <p>
              <i class="fa fa-home"></i>
              Tulsinagar, Balangir
            </p>
            <p class="city">Odisha, India</p>
          </div>

          <div class="col-md-3">
            <h1>Follow Us On</h1>
            <p>
              <i class="fa fa-facebook-official"></i>
              Facebook
            </p>
            <p>
              <i class="fa fa-youtube-play"></i>
              Youtube
            </p>
            <p>
              <i class="fa fa-linkedin"></i>
              Linkedin
            </p>
            <p>
              <i class="fa fa-twitter"></i>
              Twitter
            </p>
          </div>
        </div>
        <hr />
        <p class="copyright">
          Made with <i class="fa fa-heart-o"></i> by Ankit Sahu
        </p>
      </div>
    </section>
  </body>
</html>
