
*
{
    padding: 0;
    margin: 0;
}


#header {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/Digital-Marketing-into-Business-Strategy.jpg");
    height: 80vh;
    background-size: cover;
    background-position: center;
}

.navbar-nav li a
{
    float: right;
    color: #fff !important;
}

.navbar-brand img{
    width: 200px;
    margin-left: 30px;
}

.navbar-toggler {
    border: none !important;
    outline: none !important;
}

nav .fa-bars{
    color: #fff;
    font-size: 26px;
}

/* ------------- WELCOME TEXT -------------- */
.welcome {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: -140px;
    background-color: #fff;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 600px) {
    .welcome h1{
        font-size: 30px;
        color: #333;
    }
  }

.welcome h1{
    color: #333;
}

.welcome .home-btn{
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 30px;
    color: #fff;
    background-color: #013f7e;
}

.welcome .btn:focus{
    box-shadow: none;
}

/* -------------------ABOUT SECTION ------------------ */

#about {
    padding-top: 100px;
    padding-bottom: 100px;
}

#about .col-md-6{
    padding: 20px 10px;
}

#about h3{
    margin: 20px auto;
}

#about .home-btn{
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 30px;
    color: #fff;
    background-color: #013f7e;
}

#about .btn:focus{
    box-shadow: none;
}

/* -----------------Service--------------- */


.service .content-box{
    background: #f4f3ff;
    width: 100%;
}

.service h1{
    text-align: center;
    padding-top: 100px;
}

.service h1::after{
    content: '';
    background: #ff4d73;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 50px;
}

.service .icon{
    font-size: 30px;
    margin: 20px auto;
    padding: 20px;
    height: 70px;
    width: 70px;
    border: 1px solid #ff4d73;
    border-radius: 50%;
    color: #ff4d73 ;
}

.service h3{
    text-align: center;
}
.service p{
    font-size: 12px;
    margin-top: 10px;
    color: #777;
    text-align: justify;
    padding-left: 3%;
    padding-right: 3%;
}

.service span{
    color: #ff4d73;
    transition: .5s;
}

.service .col-md-4:hover{
    background: #ff4d73;
    cursor: pointer;
    color: #fff;
    box-shadow: -5px 5px 10px 0 rgba(0, 0, 0, 0.4);
    transition: .5s;
}

.service .col-md-4:hover .icon{
    border: 1px solid #fff;
    color: #fff;
}

.service .col-md-4:hover p{
    color: #fff;
}

.service .col-md-4:hover span{
    color: #fff;
}


/*----------- FEATURES ------------*/
#features{
    padding-top: 100px;
    padding-bottom: 100px;
    background: linear-gradient(
        rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/1_t8sE0zYy7a3csAtqCeYULg.jpeg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

.feature-box{
    height: 120px;
}

.feature-box .feature-left{
    height: 120px;
    width: 20%;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.feature-box .feature-left .fa{
    padding-top: 13px;
    font-size: 50px;
}

.feature-box .feature-right{
    height: 120px;
    width: 80%;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.feature-box .feature-right h4{
    padding-top: 10px;
    padding-left: 15px;
    text-align: left;
}

.feature-box .feature-right p{
    padding-left: 15px;
    text-align: left;
}

/* ---------------- SUBSCRIBER --------------------- */

.subscriber{
    padding: 50px 20px;
    background-color:#013f7e ;
    position: relative;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);
    margin-bottom: -160px;
}

.subscriber h3, .subscriber p{
    color: #fff
}

.subscriber .input-group{
    border-radius: 30px;
    background: #fff;
    max-width: 500px;
    margin: 10px auto;
    padding: 5px;
}

.subscriber .form-control{
    border: none;
    background: transparent;
}

.subscriber .form-control:focus{
    border: none;
    background: transparent;
}

.subscriber .input-group-append{
    background-image :linear-gradient(to right, #1c03b5, #5c8bef);
    border-radius: 30px;
}

.subscriber .input-group-text{
    background: transparent;
    border: none;
    color: #fff;
}

.subscriber .btn{
    box-shadow: none;
}

/* -------------- Footer Section --------------- */

#footer{
    margin-top: 80px;
    padding: 70px;
    background-color: #efefef;
    color: #013f7e;
}

.footer-logo{
    width: 150px;
    margin-top: 25px;
    margin-bottom: 15px;
}

#footer h2{
    font-size: 20px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}


#footer h1{
    font-size: 15px;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 25px;
}

#footer p{
    font-size: 12px;
    text-align: left;
}

#footer .city{
    margin-left: 37px;
}

#footer .row .fa{
    padding-right: 20px;
    font-size: 15px;
}

#footer hr{
    margin-top: 10px;
}

#footer .fa-heart-o{
    color: red;
    font-size: 17px;
}

#footer .copyright{
    margin-bottom: -80px;
    text-align: center;
    font-size: 15px;
}

