@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');


*
{
    padding: 0;
    margin: 0;
}

body
{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa !important;
}

.navbar-nav li a
{ 
    /* color: #fff !important; */
    font-size: 16px;
    margin-right: 25px;
    text-decoration: none;
}



/* -------------- Footer Section --------------- */

#footer{
    margin-top: 80px;
    padding: 70px;
    background-color: #efefef;
    color: #013f7e;
}

.footer-logo{
    width: 150px;
    margin-top: 25px;
    margin-bottom: 15px;
}

#footer h2{
    font-size: 20px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}


#footer h1{
    font-size: 15px;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 25px;
}

#footer p{
    font-size: 12px;
    text-align: left;
}

#footer .city{
    margin-left: 37px;
}

#footer .row .fa{
    padding-right: 20px;
    font-size: 15px;
}

#footer hr{
    margin-top: 10px;
}

#footer .fa-heart-o{
    color: red;
    font-size: 17px;
}

#footer .copyright{
    margin-bottom: -80px;
    text-align: center;
    font-size: 15px;
}







#college img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#certification img{
    width: 60px;
    height: 60px;
}
.alert {
    /* padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px; */
  
    max-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 10000000000000000000; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  .alert.success {
    background-color: #4caf50;
  }
  .alert.info {
    background-color: #2196f3;
  }
  .alert.warning {
    background-color: #ff9800;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }
  