{% load static %}
<html>
    <head>
        <title>
            Student Section
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/Student.css' %}" >

         <!-- Bootstrap -->
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
         <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
         <!-- Font-awesome -->
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
         
         <link rel="preconnect" href="https://fonts.gstatic.com">
         <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    </head>
    <body >


        <!-- -------------------------Navbar---------------------- -->
        <section id="navbar" >
            <nav class="navbar navbar-expand-sm bg-light navbar-light" >
                <!-- Brand/logo -->
                <a class="navbar-brand" href="/" style="font-size: 25px; font-weight: bold; color:#003bd1; letter-spacing: 1px;">SimpleHired</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>

                <!-- Links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto" >
                    
                  <li class="nav-item">
                    <a class="nav-link" href="#">Internships</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Register</a>
                  </li>
                </ul>
            </div>
              </nav>
        </section>

        <!-- ------------- Header --------------- -->
        <!-- <section id="header" class="d-flex align-items-center pl-md-5"> -->
            
        <section id="header" >
            <div style="background-color: #f0f4ff; opacity: 0.85;" class="p-1 mb-2">
                <h2 class="text-center" style="color: #2a3063;  font-weight: bold;">
                    Student Section
                </h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    
                    <div class="container" >
                        <h3 class="text-center mt-2 mb-2" style="font-family: 'Josefin Sans', sans-serif;">
                            Login
                        </h3>
                        <form class="p-4 " id="login-form" >
                            
                            <div class="form-group">
                            <label style="color: #222;">Email id</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                            <label style="color: #222;">Password</label>
                            <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                            <div class="text-center pt-3"> 
                                <button type="submit" class="btn btn-primary w-100" style="background-color: #003bd1;">Login</button>
                            </div>
                            
                        </form>
                      </div>
                </div>
                
                <div class="col-md-6">
                    <h3 class="text-center mb-2 mt-lg-2 mt-xl-2 mt-sm-5 mt-5 mt-md-5" style="font-family: 'Josefin Sans', sans-serif;">
                        Registration
                    </h3>
                    <div class="container">
                        <form class="p-4" id="reg-form">
                            <div class="form-group">
                            <label style="color: #222;">Name</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Full name">
                            </div>
                            <div class="form-group">
                            <label style="color: #222;">Mobile no.</label>
                            <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Mobile no.">
                            </div>
                            <div class="form-group">
                            <label style="color: #222;">Email id</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                            <label style="color: #222;">Password</label>
                            <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                            <div class="form-group">
                            <label style="color: #222;">Confirm password</label>
                            <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                            <div class="text-center pt-3"> 
                                <button type="submit" class="btn btn-primary w-100" style="background-color: #003bd1;">Register</button>
                            </div>
                            
                        </form>
                      </div>
                </div>


            </div>
        </section>



    
    <!-- ------------------- TESTIMONIAL ---------------- -->

    <section id="testimonials">
        <div class="container">
            <h1 class="text-center mb-5">
                Meet our students
            </h1>
            <div class="row">
                <div class="col-md-4 wow animate__fadeInLeft" data-wow-duration="2s">
                    <p class="review">
                        " SimpleHired is one of the best web resources which helped me.
                         I am still looking for a six month internship and your help is a big boon. I am really grateful for this awesome work. Thanks"
                            <br>
                            <i class="fa fa-twitter"></i>
                            <span>@Ankit</span>
                    </p>
                    <img src="{% static 'images/Ankit.jpg'%}">
                </div>
                <div class="col-md-4 middle wow fadeInUp" data-wow-duration="2s">
                    <p class="review">
                        "Thank you SimpleHired. In an age when it is easier to secure a core job than to secure a core internship (for electrical guys), you really
                         helped me in getting a second core internship in a span of 6 months. Thanks again."
                            <br>
                            <i class="fa fa-twitter"></i>
                            <span>@Itishree</span>
                    </p>
                    <img src="{% static 'images/itishree.jpg'%}">
                </div>
                <div class="col-md-4 wow fadeInRight" data-wow-duration="2s">
                    <p class="review">
                        "I am a UG student at University of Delhi. I was browsing through your site and found it very useful for
                         college students. Thanks so much for such a wonderful website!"
                            <br>
                            <i class="fa fa-twitter"></i>
                            <span>@Sneha</span>
                    </p>
                    <img src="{% static 'images/sneha.jpg'%}">
                </div>
            </div>
        </div>
    </section>



        <!-- -------------------- FOOTER SECTION -------------------- -->
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <!-- <img src="images/logo.png" class="footer-logo"> -->
                    <h2>
                        SimpleHired
                    </h2>
                    <p style="text-align: justify;">
                    SimplyHired helps thousands of students find great internships
                    and be a ladder in their success.
                    </p>
                </div>

                <div class="col-md-3">
                    <h1>
                        Features
                    </h1>
                    <p>
                        Certification
                    </p>
                    <p>
                        Free Apply
                    </p>
                    <p>
                        Flexible Time
                    </p>
                    <p>
                        Jobs for freshers
                    </p>
                </div>

                <div class="col-md-3">
                    <h1>
                        Quick Contact
                    </h1>
                    <p> <i class="fa fa-phone-square"></i>
                        +91 7377515257
                    </p>
                    <p> <i class="fa fa-envelope"></i>
                        ankit4b@gmail.com
                    </p>
                    <p> <i class="fa fa-home"></i>
                        Tulsinagar, Balangir
                    </p>
                    <p class="city">
                        Odisha, India
                    </p>
                </div>

                <div class="col-md-3">
                    <h1>
                        Follow Us On
                    </h1>
                    <p> <i class="fa fa-facebook-official"></i>
                        Facebook
                    </p>
                    <p> <i class="fa fa-youtube-play"></i>
                        Youtube
                    </p>
                    <p> <i class="fa fa-linkedin"></i>
                        Linkedin
                    </p> 
                    <p> <i class="fa fa-twitter"></i>
                        Twitter
                    </p>
                </div>
            </div>
            <hr>
            <p class="copyright">
                Made with <i class="fa fa-heart-o"></i> by Ankit Sahu
            </p>
        </div>
    </section>



        
    </body>
</html>